body {
    background-color: #FFFFCC;
}

.character{
width:140px;
height:200px;
transition-property: all;
transition-duration: .5s;
margin-left: auto;
margin-right: auto;
margin-top: 15px;
}
    .character:hover {
    width: 150px;
    height: 210px;    
    }

#banner {    
    background-color: red;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right:auto;
    border: dotted;
    border-width: 10px;
}

#Rules {
    border: solid 1px black;
    margin-top: 120px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    background-color: white;
    font-size: large;

}

#Chars {
border: solid;
border-width: 3px;
border-color: orange;
border-radius: 10px;
padding: 5px;
background-color: white;
width: 80%;
margin: 0 auto;
margin-top: 10px;
}

#InnerChar {
width: 80%;
margin: 0 auto;

}

#QL {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

#btnConfirm {
margin-right:1000px;
}

#controls {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    width: 100px;
}

#tries {

    font-size: 15px;

}

#refresh {

}